shellingham==1.5.4
cymem==2.0.11
pytorch-lightning==2.5.1.post0
pexpect==4.9.0
Pygments==2.19.1
pandas==2.2.3
protobuf==5.29.4
async-timeout==5.0.1
idna==3.10
traitlets==5.14.3
language_data==1.3.0
nest-asyncio==1.6.0
ptyprocess==0.7.0
nltk==3.9.1
scipy==1.13.1
matplotlib==3.9.4
parso==0.8.4
importlib_metadata==8.6.1
zipp==3.21.0
yarl==1.20.0
requests==2.32.3
openpyxl==3.1.5
attrs==25.3.0
pydantic==2.10.6
spacy-legacy==3.0.12
markdown-it-py==3.0.0
frozenlist==1.6.0
seaborn==0.13.2
GitPython==3.1.44
spacy==3.8.3
jedi==0.19.2
spacy-loggers==1.0.5
et_xmlfile==2.0.0
cloudpathlib==0.21.0
python-Levenshtein==0.27.1
catalogue==2.0.10
jupyter_client==8.6.3
rich==13.9.4
asttokens==3.0.0
tqdm==4.67.1
urllib3==2.3.0
Janome==0.5.0
joblib==1.5.0
exceptiongroup==1.2.2
click==8.1.8
RapidFuzz==3.13.0
appnope==0.1.4
weasel==0.4.1
decorator==5.2.1
confection==0.1.5
numpy==2.0.2
executing==2.2.0
stack-data==0.6.3
debugpy==1.8.13
kiwisolver==1.4.7
jupyter_core==5.7.2
pip==25.0.1
contourpy==1.3.0
regex==2024.11.6
gitdb==4.0.12
psutil==7.0.0
mdurl==0.1.2
fonttools==4.56.0
python-dateutil==2.9.0.post0
mpmath==1.3.0
charset-normalizer==3.4.1
preshed==3.0.9
ipython==8.18.1
wcwidth==0.2.13
packaging==24.2
torch==2.6.0
srsly==2.5.1
torchtext==0.18.0
pillow==11.0.0
certifi==2025.1.31
setproctitle==1.3.5
tzdata==2025.1
wasabi==1.1.3
lightning-utilities==0.14.3
pydantic_core==2.27.2
torchmetrics==1.7.1
cycler==0.12.1
Jinja2==3.1.6
langcodes==3.5.0
filelock==3.18.0
torchvision==0.21.0
comm==0.2.2
marisa-trie==1.2.1
lightning==2.5.1.post0
pure_eval==0.2.3
aiohttp==3.11.18
tornado==6.4.2
pyparsing==3.2.1
fsspec==2025.3.0
docker-pycreds==0.4.0
aiohappyeyeballs==2.6.1
smart-open==7.1.0
wrapt==1.17.2
networkx==3.2.1
propcache==0.3.1
sympy==1.13.1
aiosignal==1.3.2
typing_extensions==4.12.2
PyYAML==6.0.2
murmurhash==1.0.12
matplotlib-inline==0.1.7
smmap==5.0.2
pyzmq==26.3.0
multidict==6.4.3
prompt_toolkit==3.0.50
typer==0.15.2
wandb==0.19.9
blis==1.2.0
platformdirs==4.3.6
sentry-sdk==2.25.1
ipykernel==6.29.5
pytz==2025.1
annotated-types==0.7.0
eval_type_backport==0.2.2
Levenshtein==0.27.1
six==1.17.0
setuptools==58.1.0
utils==1.0.2
importlib_resources==6.5.2
thinc==8.3.4
MarkupSafe==3.0.2
